.accordion {
    .octicon {
        float: right;
        font-size: 2rem;
        transition: transform 250ms;
    }
}

.flipImage {
    transform: rotateX(180deg);
}

/*
$danger: white;

$body-bg: $danger;
*/
@import "../node_modules/bootstrap/scss/bootstrap";
