/*Theming*/
/*
$danger: white;

$body-bg: $danger;
*/
@import "../node_modules/bootstrap/scss/bootstrap";

.accordion {
    .fa-chevron-down {
        float: right;
        font-size: 2rem;
        transition: transform 250ms;
    }
}

#contact-info {
    a {
        display: block;
    }

    span > a {
        display: initial;
    }
    .fa-linkedin, .fa-github {
        font-size: 3rem;
    }
}

.flipImage {
    transform: rotateX(180deg);
}
