/*Theming*/

$theme-colors: (
    "primary": #521751,
    "dark": #212529
);

$body-bg: var(--dark);

body {
    .navbar {
        height: 80px;
        margin-bottom: 30px;
    }
}

.language {
    color: white;
}

.my-navbar {
    background-image: linear-gradient(var(--primary) 990%, var(--dark));
}


#navbarNavAltMarkup {
    float: right;
}


.accordion {
    .fa-chevron-down {
        float: right;
        font-size: 2rem;
        transition: transform 250ms;
    }
}

#contact-info {
    a {
        display: block;
    }

    span > a {
        display: initial;
    }
    .fa-linkedin, .fa-github {
        font-size: 3rem;
    }
}

.flipImage {
    transform: rotateX(180deg);
}

@import "../node_modules/bootstrap/scss/bootstrap";
